<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="/static/jwt.js"></script>
    <script src="/static/navbar.js"></script>
    <script src="/static/book_form.js"></script>

</head>
<body>

<div th:insert="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3>Add New Book</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/books/new_book}" method="post">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="isbn">ISBN</label>
                            <input type="text" class="form-control" id="isbn" name="isbn"
                                   pattern="^[0-9]{10}([0-9]{3})?$" oninput="validateIsbn(this);" required>

                            <small class="form-text text-danger" id="isbnError" style="display: none;">ISBN must be 10
                                or 13 digits</small>
                            <small class="form-text text-danger" id="isbnExistsError" style="display: none;">This ISBN already exists.</small>

                        </div>
                        <div class="form-group">
                            <label for="author">Author</label>
                            <input type="text" class="form-control" id="author" name="author" required>
                        </div>
                        <div class="form-group">
                            <label for="publicationDate">Publication Date</label>
                            <input type="date" class="form-control" id="publicationDate" name="publicationDate" placeholder="dd/mm/yyyy"
                                   required>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Add Book</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/bootstrap_libraries :: scripts"></div>

<script>
    restrictFutureDates('publicationDate');
</script>
</body>
</html>
